// pages styles

.inicio {
  height: 100vh;
  text-align: center;
  position: relative;
  padding: 30px;
}

.logo {
  display: block;
  margin: 0 auto;
}

.btnCreeSuCuenta {
  width: 176px;
  height: 37px;
  border-radius: 10px;
  box-shadow: 0px 7px 4px rgba(0, 0, 0, 0.5);
  background: #000000;
  border: none;
  color: white;
  font-size: 14px;
  margin-top: 50px;
}

.accederCon {
  height: 116px;
  width: 147px;
  margin: 0 auto;
  padding-top: 50px;
  text-align: center;
}

.textAccederCon {
  font-size: 18px;
  line-height: 21px;
  color: white;
  display: block;
  padding-bottom: 30px;
}

.bntYaTengoCuenta {
  display: block;
  margin: 0 auto;
  margin-top: 60px;
  font-size: 13px;
  text-decoration-line: underline;
  color: white;
  background: transparent;
  border: none;
  font-weight: 500;
}

.btnLogIn {
  background: transparent;
  border: none;
}

.padding {
  padding: 30px;
  margin: 0 auto;
}

.logInTitle {
  color: white;
  margin: 0 auto;
}

.headerLogIn {
  display: grid;
  grid-template-columns: 10% 1fr;
  margin-bottom: 50px;
}

.accederCon {
  display: block;
  margin: 0 auto;
}

.formLogIn {
  display: grid;
  grid-gap: 10px;
}

.btnPadding {
  padding-bottom: 50%;
}

.inputStyle {
  background: rgba(255, 255, 255, 0.51);
  border-radius: 10px;
  border: none;
  width: 255px;
  height: 45px;
  &::placeholder {
    color: white;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
  }
}
